.game {
    position: relative;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: center;
    padding-top: 60px;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.game .container {
    display: flex;
    flex-direction: row;
}

.game__left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 26px;
    margin-right: 20px;
}

.game__middle-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

/*Left column*/
.game__theme {
    position: relative;
}

.game__theme:hover .game__text{
    opacity: 1;
}

.game__theme:hover {
    opacity: .8;
}

.game__theme-wrapper {
    width: 50px;
    height: 50px;
}

.game__text {
    content: "";
    position: absolute;
    top: -50%;
    left: -24%;
    width: 70px;
    padding: 2px 10px;
    background-color: #666;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.25s linear;
}

.food:hover {
    cursor: url('../icons/cursor-food-hover.png'), pointer;
}

.animals:hover {
    cursor: url('../icons/cursor-animals-hover.png'), pointer;
}

.anime:hover {
    cursor: url("../icons/cursor-anime-hover.png"), pointer;
}

.minion:hover {
    cursor: url("../icons/cursor-minion-hover.png"), pointer;
}

/*Middle column*/
.game__cardboard {
    position: relative;
    padding: 20px 0;
    background-color: white;
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border-radius: 20px;
}

.game__card {
    width: 150px;
    height: 150px;
}

.game__card:hover {
    scale: 1.1;
}

.cursor-food:hover {
    cursor: url('../icons/cursor-food-hover.png'), pointer;
}

.cursor-animals:hover {
    cursor: url('../icons/cursor-animals-hover.png'), pointer;
}

.cursor-anime:hover {
    cursor: url('../icons/cursor-anime-hover.png'), pointer;
}

.cursor-minion:hover {
    cursor: url('../icons/cursor-minion-hover.png'), pointer;
}

.game__card-front {
    overflow: hidden;
    border-radius: 20px;
}

.game__card-front img {
    scale: 1.5;
}

/*flip*/
.game__card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip .game__card-inner {
    transform: rotateY(180deg);
}

.game__card-front, .game__card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.game__card-back {
    transform: rotateY(180deg);
}
/*flip*/

/*Right column*/
.game__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border: 2px dashed #4531a5;
    border-radius: 20px;
}

.game__indicator {
    margin-bottom: 5px;
}

.game__score-text {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

.game__score span {
    color: darkgreen;
}