@import "normalize.css";
@import "overlay.css";
@import "buttons.css";
@import "game.css";
@import "media.css";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body, html {
    cursor: url('../icons/cursor-food.png'), auto;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}